/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/m4/*.m4

/imlib2_loaders.spec
/README

Makefile
Makefile.in
.deps
.libs
*.o
*.lo
*.la

/imlib2_loaders-*.tar.bz2
/imlib2_loaders-*.tar.gz
